@model IEnumerable<GuardianTalesWeb.Models.Joueur>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Joueur_Num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joueur_Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guilde_Num)
            </th>

            <th>
                Nom Guilde
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Joueur_Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Joueur_Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guilde_Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guilde.Guilde_Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Voir Teams", "Joueur", new { id=item.Joueur_Num  }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
